.Modal {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.829);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.close {
  position: fixed;
  top: 0;

  right: 0;
  margin-right: 10px;
  color: chartreuse;
  font-size: 30px;
}
.close:hover {
  cursor: pointer;
}
